body {
    margin: 0;

    font-family: 'Ralewey', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}
/* Container 
===============================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/* HEADER
===============================*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #31344e;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;


} 

.header__inner {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}


/* NAV
=========================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;

    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/* INTRO
===============================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding: 100px;

    background: #31344e url("img/intro_bg.jpg") no-repeat center;
    background-size: cover;
}

.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
    font-size: 65px;
    color: #fff;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;
}

.intro__suptitle {
    margin-bottom: 60px;

    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/* BITTON
===============================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;

    color: #fff;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}

.btn--long {
    min-width: 280px;
}
/* FEATURE
===============================*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features__item {
    
    width: 33.33333%;
    padding: 0 20px;
    margin: 25px 0;

    text-align: center;
}

.features__icon {
    margin-bottom: 20px;
}

.features__title {
    margin-bottom: 15px;
    
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* WORKS
 ===========================*/

.works {
display: flex;
flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}


.works__item:hover .works__content {
opacity: 1;
}

.works__img {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

    background-color: rgba(232, 69, 69, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}




/* TEAM 
============================*/

.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name {
    margin-bottom: 8px;

    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    font-style: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 20px;
}

/* Social
========================= */

.social {
    display: flex;
}

.social--footer{
    justify-content: center;


}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin-right: 4px;

    border: 1px solid #e8ecee;
    background-color: #fff;

    transition: background-color .1s linear;
}

.social--footer .social__item {
    background: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 3px;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social--footer .social__icon {
    fill: #fff;

}

/* REVIEWS
========================= */

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__slider {
    height: 500px;
    overflow: hidden;
}

.reviews__slider.slick-initialized {
    height: auto;
}


.reviews__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #fff;
    padding-left: 80px;
}

.reviews__text {
    margin-bottom: 25px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;

    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    height: 15px;
    width: 15px;

    background: #fff;
    border-radius: 50%;
    border: r;
    border: 0;
    opacity: .5;
    padding: 0;

    cursor: pointer;

    font-size: 0;
    color: transparent;
}

.slick-dots .slick-active button {
    opacity: 1;

}




/* DOWNLOAD
========================= */

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    margin-bottom: 5px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}

.download__text {
    margin-bottom: 30px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;

}

/* FOOTER
========================= */

.footer { 
    background-color: #3a3e64;

}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}

.footer__title {
    font-style: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.footer__text {
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

/* COPYRIGHT
========================= */

.copyright {
    padding: 20px 0;

    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-style: 14px;
    line-height: 1.5;
    color: #808080;
}
.copyright__text span {
    color: #fff;
}


/* Burger */

.burger {
    display: none;
    padding: 9px 2px;
    
    background: none;
    border: 0;
    cursor: pointer;
    
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;
    

    position: relative;
}

.burger__item::before,
.burger__item::after {
        content: "b";
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        z-index: 1;

        background-color: #fff;
    }

    .burger__item::before {
        top: -8px;
    }

    .burger__item::after {
        bottom: -8px;
    }

    
/* Media */
@media (max-width: 1300px) {
    /* Works */
    .works__item {
        width: 50%;
}

@media (max-width: 991px) {
    
/* Nav */

    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #31344e;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;

    }

    .nav__link {
        padding: 9px 15px;
        
    }

    /* Burger */
    .burger {
        display: block;
    }

     /* Intro */
    .intro__title {
        font-size: 40px;
    }

    .features__item {
        width: 50%;
    }
    .team__item {
        width: 50%;
        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        justify-content: center;
    }

    .reviews__photo {
        width: 100%;
        margin : 15px 0 40px; 
        overflow: hidden;
    }

    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
    .reviews__img {
        position: absolute;
        top: 50%;
        right: -20%;
        z-index: 1;
       
    }
    
    }

}

    /* Media */

@media (max-width: 767px) {

    /* Intro */

    .intro {
        height: auto;
        padding: 20px;
        padding-top: 120px ;
        padding-bottom: 20px;
        
    }

    .intro__title {
         font-size: 30px;
     }

    .intro__suptitle {
        margin-bottom: 30px;

        font-size: 16px;
    }

    .features {
        margin: 40px 0;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .works__item {
        width: 100%;
        height: 300px;
    }    

    .team {
        margin: 60px 0 30px;
    }

    .team__item {
        width: 100%;
    }
    .reviews__text {
        font-size: 25px;
    }

    .btn--long {
        min-width: 260px;

    }

    .download {
        margin: 50px 0;
        font-size: 24px;
    }

    .footer__block {

        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .footer__block:last-child {
        margin-bottom: 0;
        font-size: 12px;
    }



}

@media (max-width: 767px) {
    .reviews__img {
        position: absolute;
        top: 50%;
        right: -40%;
        z-index: 1;

}