* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; 
}

/* 

====== Header ========

*/
.header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
    
}

.header__btn {
    padding: 5px 20px 4px 50px;
    float: right;
    background-color: #ffc222;
    color: #1b1b1b;
    border-radius: 1px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    display: block;
}

.header__contact::after {
    content: "";
    clear: both;
    display: block;
}

.header__phone ,
.header__email {
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__email {
    padding-left: 24px;
}

/* 
======= Навигация ========
*/

.header__content {
    padding: 34px 0px 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all .3s;
}

.menu a:hover { 
    border-color: #ffc222;
}

.menu li + li {
    padding-left: 10px;
}